// 主题背景色定义规范
$color-primary: #409eff;
$color-background: #fff;
$color-background-s: rgba(248, 248, 248, 0.3);
$color-background-m: rgba(248, 248, 248, 0.5);
$color-background-l: rgba(248, 248, 248, 0.8);

// 字体颜色规范
$color-text: #409eff;
$color-text-s: rgba(255, 106, 89, 0.3);
$color-text-m: rgba(255, 106, 89, 0.5);
$color-text-l: rgba(255, 106, 89, 0.8);

// 灰色规范
$color-gray: #333;
$color-gray-s: #666;
$color-gray-m: #999;
$color-gray-l: #ccc;

//字体大小定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-normal-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
